
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #f8f9fa;
  }
  .logo-container img {
    width: 50px;
    height: 50px;
    margin-right: 30%;

  }

  .contact-info {
    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: right;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
#myCarousel{
    width: 100%;
}

.about_content {
  padding-right: 60px;
}

.about_content p {
  padding: 18px 0px 30px;
}
  
.section_gap {
  padding: 120px 0;
}
.section_title {
  margin-bottom: 75px;
}

.section_title h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}

.section_title p {
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  margin-bottom: 0px;
}
/* h2{
  padding-bottom: 75px;
} */